{% extends 'mailing/home.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row">
        {% for mailing in object_list %}
        <div class="col-12 mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">Статус: {{ mailing.status }}</p>
              <p class="card-text">Тема: {{ mailing.message|truncatechars:100 }}</p>
              <p>Получатели:</p>
              <ul>
              {% for recipient in mailing.recipients.all %}
                <li>{{ recipient.name }} ({{ recipient.email }})</li>
              {% empty %}
              <li>Нет получателей</li>
              {% endfor %}
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if user == object.owner or perms.mailing.can_see_mailing%}
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:mailing_detail' mailing.pk %}">Подробнее</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}